{% extends 'base.html' %}

{% block content %}
<h1>Shop de qualité</h1>

<div class="container">
    <div class="row">
        {% for product in products %}
            {% if product.quantity > 0 %}
                <div class="card col-sm mx-4" style="width: 18rem;">
                    <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.title }}">
                    <div class="card-body">
                    <h5 class="card-title">{{ product.title }}</h5>
                    <p class="card-text">{{ product.desc }}</p>
                    <p class="card-text">Price: {{ product.price }}</p>
                    <p class="card-text">Stock: {{ product.quantity }}</p>
                    <a href="{% url 'product' product.slug %}" class="btn btn-primary">View</a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>

<a href="{% url 'create_view' %}">Créer un produit</a>

{% endblock %}